.portfolio__projects {
    display: flex;
    flex-direction: column;
}

.portfolio__projects-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.portfolio__projects-heading h1 {
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}

.portfolio__projects-container {
    display: flex;
    flex-direction: row;
}

.portfolio__projects-container_groupA {
    flex: 0.85;
    margin-right: 2rem;
}

.portfolio__projects-container_groupB {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .portfolio__projects-container {
        flex-direction: column-reverse;
    }


    .portfolio__projects-container_groupA {
        margin: 2rem 0;
    }

    .portfolio__projects-container_groupA .portfolio__projects-container_project {
        width: 48%;
    }

    .portfolio__projects-container_groupA .portfolio__projects-container_project-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__projects-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio__projects-container_groupA .portfolio__projects-container_project {
        width: 100%;
    }

    .portfolio__projects-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__projects-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}