.portfolio__projects-container_project {
    width: 100%;
    height: 100%;
    opacity: 75%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
    transition: .4s ease-in-out;
}

.portfolio__projects-container_project:hover {
    opacity: 100%;
    border-style: groove;
    border-color: #fff;
    border-width: 2px;
    transition: .4s ease-in-out;
    box-shadow: 0 0 7px #fff;
}

.portfolio__projects-container_project-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.portfolio__projects-container_project-image img {
    width: 100%;
    height: 100%;
}

.portfolio__projects-container_project-content {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}

.data {
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;

    color: #fff;
    margin-bottom: 2rem;
}

.sourceCode {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 900;
    color: #fff;
}

.sourceCode:hover {
    opacity: 80%;
    cursor: pointer;
}

.portfolio__projects-container_project-content h3 {
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;

    color: #fff;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 550px) {
    .portfolio__projects-container_project-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}