.portfolio__skills {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio__skills-sections {
    display: flex;
    justify-content: space-around;
}

.portfolio__skills-title h1 {
    color: #fff;
    margin-bottom: 2rem;
}

.skill_container {
    border: none;
    border-radius: 5%;
    border-color: gray;
    padding: 1rem 1rem;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.portfolio_skills-sections_languages:hover {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.portfolio_skills-sections_frameworks:hover {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.portfolio_skills-sections_databases:hover {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.portfolio_skills-sections_others:hover {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.items ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: space-around;
    font-size: 18px;
}

.items ul li {
    margin: 0.5rem 0.5rem;
}

@media screen and (max-width: 1050px) {
    .portfolio__skills-sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill_container {
        margin-top: 0;
        margin-bottom: 0;
        border: none;
    }

    .portfolio__skills-title {
        display: flex;
        align-self: center;
    }

    .portfolio__skills-title h1 {
        margin-bottom: 5px;
    }

    .items ul li {
        margin: 0.2rem 0.2rem;
        font-size: 13px;
        font-family: var(--font-family);
    }
}