.portfolio__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    /* position: sticky;
    top: 0; */
}

.portfolio__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.portfolio__navbar-links_logo img {
    width: 100px;
    height: 40px;
}

.portfolio__navbar-links_container {
    display: flex;

}

.portfolio__navbar-links_container p,
.portfolio__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.portfolio__navbar-menu_container-links_contact a {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.contactbtn:hover {
    /* box-shadow: 0 0 5px #fff; */
    opacity: 80%;
}

.portfolio__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.portfolio__navbar-menu svg {
    cursor: pointer;
}

.portfolio__navbar-menu_container {
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.portfolio__navbar-menu_container p {
    margin: 1rem 0;
}

.portfolio__navbar-menu_container-links_contact {
    display: none;
}

.portfolio__navbar-links_container a {
    transition: .2s ease-in-out;
}

.portfolio__navbar-links_container a:hover {
    opacity: 80%;
    border: groove;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #fff;
    padding: .09rem;
    transition: .2s ease-in-out;

}

/* Media Queries */
@media screen and (max-width: 1050px) {
    .portfolio__navbar-links_container {
        display: none;
    }

    .portfolio__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__navbar {
        padding: 2rem;
    }

    .portfolio__navbar-contact {
        display: none;
    }

    .portfolio__navbar-menu_container {
        top: 20px;
    }

    .portfolio__navbar-menu_container-links_contact {
        display: block;
    }
}